.movie-poster-container {
  display: flex;
  gap: 10px;
}

.movie-card {
  position: relative;
}

.movie-card img {
  border-radius: 10px;
}

.movie-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.movie-card-overlay button {
  margin: 5px;
}

.movie-card:hover .movie-card-overlay {
  opacity: 1;
}
