.main-titles {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.movie-poster-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.movie-card {
  position: relative;
  width: 200px;
}

.movie-card img {
  border-radius: 10px;
  width: 100%;
}

.movie-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.movie-card-overlay button {
  margin: 5px;
}

.movie-card:hover .movie-card-overlay {
  opacity: 1;
}

.movie-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.movie-row .movie-card {
  margin: 5px;
}
