.ticket-card {
  background-color: beige;
  color: #5b0e2d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.ticket-card:hover {
  transform: scale(1.03);
  border-color: lightyellow;
  box-shadow: 0 0 10px #e06194;
}
