.promotions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotions-image {
  transition: transform 0.3s ease;
  width: 60%;
  border: 2px solid transparent;
  margin-top: 20px;
}

.promotions-image:hover {
  transform: scale(1.05);
  border-color: white;
  box-shadow: 0 0 10px white;
}
